*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

nav{
    margin: 0;
    background-color: #1C1B1B;
    height: 94px;
    width: 100%;
    display: flex;
}

nav ul{
    display: flex;
}

nav a{
    text-decoration: none;
    color: white;
}

ul li{
    color: white;
    list-style: none;
    margin: 20px;
    font-family:sans-serif;
}



.banner img{
    width: 100%;
  
}

.header_text{
display: flex;
justify-content: center;
}


.header_body{
    display: flex;
    justify-content: center;
    }
    

header h1{
    position: absolute;
    margin: 0;
    text-align: left;
  
    top: 221px;
    color: white;
    font-family: sans-serif;
    width: 400px;
    font-size: 2.5rem;

}



.header_body p{
    position: absolute;

height: 45px;
top: 307px;
color: white;
}

header ul{
    position: absolute;
    display: flex;
    top: 350px;
    
}

header ul li{
    text-align: left;
}

.search{
    display: flex;
    justify-content: center;
}

.book{
    height: 70px;
    position: absolute;
    top: 40%;
}

.book button{
    background-color: #FF9A00;
    border: none;
    float: right;
    height: 52px;
    width: 176px;
    color: white;
    font-weight: 700;
    margin-top: 40px;
 
}

.det{
    display:flex;
    justify-content: center;
}

.receipt_container hr{
    border: 1px dashed grey;
}




.book form{
    display: flex;
}

.book form input[type = date]{
    height: 52px;
}

.book form input{
    margin-top: -10px;
    height: 50px;
    border: none;
    border-right: 1px solid grey;
}

.up_text{
    display: flex;
    justify-content: center;
}

.bottom_box{
    background-color: #0D2B4F;
width: 100%;
height: 103px;
left: 0px;
margin-top:-20px;
display: flex;
justify-content: center;

}

.box_body{
    color: white;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
   
}

i img{
    height: 80px;
}

.box_body p{
    color: white;
    font-size: 1rem;
    margin-top: 50px;
}

.corner_box{
    background-color: white;
    float: right;
    margin-top: -100px;
    z-index: 101;
    position: relative;
    width: 300px;
    margin-right: 50px;
    text-align: left;
    padding: 20px;
    border-radius: 20px;

}

h6{
    margin-top: -10px;
    font-size: 1.3rem;
}

.corner_box p{
    margin-top: -35px;
    font-style: italic;
} 

.box_underline{
    background-color: #FF9A00;
    height: 20px;
    width: 300px;

}

i{
    margin-top: 10px;
}

.content{
    margin-bottom: 300px;
}

.container{
    display: flex;
    margin: 50px;
    justify-content: center;
}

.content h2{
    margin-top: 100px;
   margin-left: 150px;
   color: #161616;
}

.underline{
    height: 6px;
    width: 102px;
    background-color: #FF9A00;
    margin-left: 155px;
}

.container .box{
    width: 337px;
height: 120px;
box-shadow: 0 2px 15px 0px rgb(187, 187, 187);
margin-left: 20px;
border-radius: 1%;
}

.con{
    display: flex;
}

.con p{
    margin-left: 10px;
}

.box h1{
    color: #FF9A00;
    margin-left: 10px;
}

.box button{
    background-color: #FF9A00;
    border: none;
    border-radius: 3%;
    color: white;
    padding: 20px;
    width: 60%;
   
}

.nysc{
    margin-top: 200px;
}
.nysc img{
    width: 100%;
}

.nysc .corner{
    height: 300px;
    width: 500px;
    background-color: #0D2B4F;
    margin-top: -500px;
    position: absolute;
    color: white;
}

.corner p{
    font-size: 2rem;
    margin-left: 20px;
    width: 400px;
}

.corner hr{
    background-color: #FF9A00;
    height: 20px;
    width: 60%;
    border: none;
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 20px;
}


.nysc_sub h3{
    margin-left: 20px;
}
.nysc_sub p{
    font-size: 1.5rem;
}

.corner button{
    background-color: #FF9A00;
    border: none;
    color: white;
    width: 350px;
    padding: 30px;
    font-size: 2rem;
    margin-left: 70px;
    margin-top: 30px;
}

.mid{
    margin-top: 200px;
}

.mid h2{
    margin-left: 210px;
}

.choose{
    display: flex;
    justify-content: center;
}

.choose .choose_box{
    width: 300px;
    height: 300px;
    background-color: white;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 15px 0px rgb(187, 187, 187);

    
}

.btn{
    display: flex;
    justify-content: center;
}



.icon{
    background-color: #1C1B1B;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin: 20px;
}

.text{
    padding: 20px;
    margin-top: -40px;
}

.partners{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.partners div{
    width: 100px;
    height: 100px;
    background-color: grey;
    margin-left: 100px;
}

footer{
    background-color: #1C1B1B;
    height: 242px;
}


.footer_nav{
    margin-top: 50px;
    position: absolute;
    display: flex;
}

.footer_nav ul{
    display: flex;
    margin-top: 30px;
}

.about{
    margin-top: 100px;
}

.about_content{
    display: flex;
}

.about_text{
    width: 40%;
    margin-left: 100px;}

    .about_text h6{
       margin-bottom: -10px;
       color: #FF9A00;
    }

    .about_text h2{
        width: 50%;
        color: #333232;

    }

    .goals{
        background-color: #333232;
        height: 300px;
        width: 100%;
        margin-top: 100px;
        margin-bottom: 300px;
       
       
    }

    .goals h2{
        text-align: center;
        color: white;
      padding: 20px;
        
    }

    .start{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .top_text{
        background-color: #0D2B4F;
        width: 60%;
        height: 120px;
        border-radius: 10px;
        color: white;
        text-align: center;
        font-size: 2rem;
    }

    .top_text hr{
        background-color: #FF9A00;
        width: 30%;
        border: none;
        height: 10px;
        margin-top: -30px;
        border-radius: 10px;
    }


    
      .slider1,
      .slider2,
      .slider3 {
       width: 500px; 
       left: 50%;
        transform: translateX(-50%);
      }

      .slick-next{
          background-color: black;
      }
      
    
    .form_content{
        display: flex;
        justify-content: center;
    }

    .row{
        display: flex;
        width: 600px;
       
    }

    .form_content input{
        width: 300px;
        height: 30px;
        
    }

   
  
    .responsive_menu{
        background-color: #0D2B4F;
        width: 200px;
        height: 200px;
        float: right;
       right: 0;
        position: absolute;
        display: none;
        
        
    }

    .burger{
        background-color: transparent;
        border: none;
        position: absolute;
        right: 0;
        top: 20px;
        display: none;
    }

    .burger i{
        color: white;
        font-size: 2rem;
    }

    .form_con{
        padding: 40px;
    }

    .form_con input{
        width: 250px;
        height: 20px;
        border: none;
        border-bottom: 1px solid #a9acaf;
        padding: 5px;
        
    }

    .form_content select{
        background-color: transparent;
        width: 300px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #a9acaf;
        padding: 5px;
    }

    .form_content select:focus{
        outline: none;
    }

    .row_content{
        padding: 20px;
        margin-left: -20px;
    }

    form{
        margin-top: 100px;
        justify-content: center;
        font-size: 1rem;
        
    }

    .form_content input{
        border: none;
        border-bottom: 1px solid #a9acaf;

    }
    
    

   
    .details_line{
        margin-top: -15px;
        background-color: #FF9A00;
        width: 80px;
        height: 10px;
    }

    .submit_btn{
        display: flex;
        justify-content: center;
    }

    .submit_btn input{
        padding: 10px;
        height: 50px;
        background-color: #FF9A00;
        width: 100px;
        border: none;
        color: white;
        margin-top: 30px;
    }

    .submit_btn button{
        padding: 20px;
        background-color: #FF9A00;
        border: none;
        color: white;
        margin-top: 100px;
    }

    .bus_container{
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .bus_box{
        background-color: white;
        width: 300px;
        height: 300px;
        border-radius: 5px;
        box-shadow: 0 2px 15px 0px rgb(187, 187, 187);
        margin: 20px;
        padding: 10px;
        
    }

    .bus_box h1{
        color: #0D2B4F;
    }

    .details{
       
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .arrangements{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    
    .pick_seats{
        display: flex;
        justify-content: center;
    }

    .numbers{
        display: flex;
    }
    .numbers div{
        background-color: #0D2B4F;
        width: 30px;
        height: 30px;
        margin: 20px;
    }

    .seats h2{
        text-align: center;
        margin-left: 0;
    }

    .seat_container{
        margin-top: 50px;
    }

    .pick_seats button{
        background-color: #FF9A00;
        border: none;
        padding: 10px;
        width: 150px;
        color: white;
        font-weight: bold;
        margin-top: 10px;
        border-radius: 2px;
    }

    .seat_container h2{
        text-align: center;
        margin-left: 0;
    }

    a{
        color: white;
        text-decoration: none;
    }

    .address input{
        width: 530px;
        margin-top: 50px;
        border-radius: 2px;
    }
    .details form{
        box-shadow: 0 2px 15px 0px rgb(187, 187, 187);
        margin: 20px;
        width: 700px;
        padding: 50px;
    }

    textarea:focus, input:focus{
        outline: none;
    }

    .book_btn{
        display: flex;
        justify-content: center;
    }

    .book_btn button{
        background-color: #FF9A00;
        color: white;
       width: 50%;
       height: 50px;
        border-radius: 5px;
        border: none;
    }

    .receipt_details{
        display: flex;
        justify-content: center;
    }

    .receipt_container{
        box-shadow: 0 2px 15px 0px rgb(187, 187, 187);
        margin: 20px;
        width: 400px;
        padding: 50px;
        height: 450px;
        margin-top: 100px;
    }

   .multiple{
        height: 300px;
        width: fit-content;
    }

    .receipt_container h4{
        text-align: center;
    }

    th{
        text-align: left;
    }

    td{
    width: 100%;
    height: 50px;
    color: #333232;
    font-size: 20px;
    }

    .download{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .download button{
        background-color: #FF9A00;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 2px;
    }
    

    

    @media (max-width: 920px){
        .burger{
            display: flex;
        }

        nav ul{
            display: none;
        }
    }